<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="eID software" Version="$(var.MSI_VERSION)" Manufacturer="RIA"
      UpgradeCode="f1c4d351-269d-4bee-8cdb-6ea70c968875"
      Copyright="RIA" IconSourceFile="$(var.path)\ID.ico" AboutUrl="http://www.id.ee"
      Condition="(VersionNT >= v6.1)"><!-- DisableModify="yes"-->
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkSidebarLicense">
      <bal:WixStandardBootstrapperApplication
          LicenseUrl=""
          LogoFile="$(var.path)\banner.bmp"
          LogoSideFile="$(var.path)\dlgbmp.bmp"
          ThemeFile="$(var.path)\HyperlinkSidebarTheme.xml"/>
          <!--SuppressRepair="yes"-->
        <Payload Name="1033\thm.wxl" SourceFile="$(var.path)\HyperlinkSidebarTheme.en.wxl"/>
        <Payload Name="1061\thm.wxl" SourceFile="$(var.path)\HyperlinkSidebarTheme.et.wxl"/>
    </BootstrapperApplicationRef>

    <Variable Name="IESupport" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1"/>
    <Variable Name="ChromeSupport" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1"/>
    <Variable Name="FirefoxSupport" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1"/>
    <Variable Name="MinidriverInstall" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1"/>
    <Variable Name="QdigidocInstall" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1"/>
    <Variable Name="QesteidutilInstall" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1"/>
    <Variable Name="TeRaInstall" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1"/>
    <Variable Name="IconsDesktop" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1"/>
    <Variable Name="AutoUpdate" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1"/>
    <Variable Name="InstallX64" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="$(var.defaultX64)"/>
    <Variable Name="InstallFolder" Type="string" Value="[ProgramFiles6432Folder]Open-EID"/>

    <?define REGPath = "Software\[WixBundleManufacturer]\Open-EID"?>
    <!--util:RegistrySearch Root="HKLM" Key="Software\Estonian ID Card" Value="Installed" Variable="EstEIDInstallFolder"/-->
    <!--util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="Installed" Variable="PreviousInstallFolder"/-->
    <!--util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="Installed" Variable="PreviousX64InstallFolder" Win64="yes"/-->
    <!--util:DirectorySearch Path="[EstEIDInstallFolder]" Variable="InstallFolder" Condition="EstEIDInstallFolder"/-->
    <!--util:DirectorySearch Path="[PreviousInstallFolder]" Variable="InstallFolder" Condition="PreviousInstallFolder"/-->
    <!--util:DirectorySearch Path="[PreviousX64InstallFolder]" Variable="InstallFolder" Condition="PreviousX64InstallFolder"/-->

    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="IESupport" Variable="IESupportExists" Result="exists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="IESupport" Variable="IESupport" Condition="IESupportExists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="ChromeSupport" Variable="ChromeSupportExists" Result="exists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="ChromeSupport" Variable="ChromeSupport" Condition="ChromeSupportExists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="FirefoxSupport" Variable="FirefoxSupportExists" Result="exists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="FirefoxSupport" Variable="FirefoxSupport" Condition="FirefoxSupportExists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="MinidriverInstall" Variable="MinidriverInstallExists" Result="exists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="MinidriverInstall" Variable="MinidriverInstall" Condition="MinidriverInstallExists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="QdigidocInstall" Variable="QdigidocInstallExists" Result="exists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="QdigidocInstall" Variable="QdigidocInstall" Condition="QdigidocInstallExists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="QesteidutilInstall" Variable="QesteidutilInstallExists" Result="exists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="QesteidutilInstall" Variable="QesteidutilInstall" Condition="QesteidutilInstallExists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="TeRaInstall" Variable="TeRaInstallExists" Result="exists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="TeRaInstall" Variable="TeRaInstall" Condition="TeRaInstallExists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="AutoUpdate" Variable="AutoUpdateExists" Result="exists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="AutoUpdate" Variable="AutoUpdate" Condition="AutoUpdateExists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="IconsDesktop" Variable="IconsDesktopExists" Result="exists"/>
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="IconsDesktop" Variable="IconsDesktop" Condition="IconsDesktopExists"/>
    <util:DirectorySearch Path="[InstallFolder]" Variable="Installed" Result="exists"/>
    <util:FileSearch Path="[ProgramFiles64Folder]\Open-EID\ID-Updater.exe" Variable="InstallX64" Result="exists" Condition="Installed"/>

    <Chain>
      <MsiPackage Id="Uninstaller" ForcePerMachine="yes" SourceFile="uninstaller.msi" Compressed="yes">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
      </MsiPackage>

      <MsiPackage Id="Minidriver.X64" InstallCondition="VersionNT64 AND MinidriverInstall = 1" ForcePerMachine="yes"
          SourceFile="$(var.minidriver).x64.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
      </MsiPackage>
      <MsiPackage Id="Minidriver.X86" InstallCondition="NOT VersionNT64 AND MinidriverInstall = 1" ForcePerMachine="yes"
          SourceFile="$(var.minidriver).x86.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
      </MsiPackage>

      <MsiPackage Id="IE.X64" InstallCondition="VersionNT64 AND IESupport = 1" ForcePerMachine="yes"
          SourceFile="$(var.ieplugin)_x64.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="APPLICATION64FOLDER" Value="[InstallFolder]"/>
      </MsiPackage>
      <MsiPackage Id="IE.X86" InstallCondition="NOT VersionNT64 AND IESupport = 1" ForcePerMachine="yes"
          SourceFile="$(var.ieplugin)_x86.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
      </MsiPackage>

      <MsiPackage Id="Chrome.X86" InstallCondition="NOT VersionNT64 AND ChromeSupport = 1" ForcePerMachine="yes"
          SourceFile="$(var.chrome).x86.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
      </MsiPackage>
      <MsiPackage Id="Chrome.X64" InstallCondition="VersionNT64 AND ChromeSupport = 1" ForcePerMachine="yes"
          SourceFile="$(var.chrome).x64.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[ProgramFilesFolder]\Open-EID"/>
      </MsiPackage>

      <MsiPackage Id="Updater.X64" InstallCondition="VersionNT64 AND InstallX64 = 1" ForcePerMachine="yes"
          SourceFile="$(var.updater).x64.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="AUTO_UPDATE" Value="[AutoUpdate]"/>
      </MsiPackage>
      <MsiPackage Id="Updater.X86" InstallCondition="NOT VersionNT64 OR InstallX64 = 0" ForcePerMachine="yes"
          SourceFile="$(var.updater).x86.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="AUTO_UPDATE" Value="[AutoUpdate]"/>
      </MsiPackage>

      <MsiPackage Id="FirefoxLoader.X64"  InstallCondition="VersionNT64 AND FirefoxSupport = 1" ForcePerMachine="yes"
          SourceFile="$(var.loader).x64.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
      </MsiPackage>
      <MsiPackage Id="FirefoxLoader.X86"  InstallCondition="NOT VersionNT64 AND FirefoxSupport = 1" ForcePerMachine="yes"
          SourceFile="$(var.loader).x86.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
      </MsiPackage>

      <MsiPackage Id="qdigidoc.en_US.X64" InstallCondition="NOT UserLanguageID = 1061 AND (VersionNT64 AND InstallX64 = 1) AND QdigidocInstall = 1" ForcePerMachine="yes"
          SourceFile="$(var.qdigidoc).x64.en-US.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="DESKTOP_SHORTCUT" Value="[IconsDesktop]"/>
      </MsiPackage>
      <MsiPackage Id="qdigidoc.et_EE.X64" InstallCondition="UserLanguageID = 1061 AND (VersionNT64 AND InstallX64 = 1) AND QdigidocInstall = 1" ForcePerMachine="yes"
          SourceFile="$(var.qdigidoc).x64.et-EE.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="DESKTOP_SHORTCUT" Value="[IconsDesktop]"/>
      </MsiPackage>

      <MsiPackage Id="qdigidoc.en_US.X86" InstallCondition="NOT UserLanguageID = 1061 AND (NOT VersionNT64 OR InstallX64 = 0) AND QdigidocInstall = 1" ForcePerMachine="yes"
          SourceFile="$(var.qdigidoc).x86.en-US.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="DESKTOP_SHORTCUT" Value="[IconsDesktop]"/>
      </MsiPackage>
      <MsiPackage Id="qdigidoc.et_EE.X86" InstallCondition="UserLanguageID = 1061 AND (NOT VersionNT64 OR InstallX64 = 0) AND QdigidocInstall = 1" ForcePerMachine="yes"
          SourceFile="$(var.qdigidoc).x86.et-EE.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="DESKTOP_SHORTCUT" Value="[IconsDesktop]"/>
      </MsiPackage>

      <MsiPackage Id="shellext.X64" InstallCondition="VersionNT64 AND QdigidocInstall = 1" ForcePerMachine="yes"
          SourceFile="$(var.shellext).x64.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
      </MsiPackage>
      <!-- x86 shell extension package must be installed after the x64 since previous versions of shell extensions used same upgrade code;
           Installation of x64 after x86 shall remove previous package, including newly installed registry entries -->
      <MsiPackage Id="shellext.X86" InstallCondition="QdigidocInstall = 1" ForcePerMachine="yes"
          SourceFile="$(var.shellext).x86.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
      </MsiPackage>

      <MsiPackage Id="qesteidutil.en_US.X64" InstallCondition="NOT UserLanguageID = 1061 AND (VersionNT64 AND InstallX64 = 1) AND QesteidutilInstall = 1" ForcePerMachine="yes"
          SourceFile="$(var.qesteidutil).x64.en-US.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="DESKTOP_SHORTCUT" Value="[IconsDesktop]"/>
      </MsiPackage>
      <MsiPackage Id="qesteidutil.et_EE.X64" InstallCondition="UserLanguageID = 1061 AND (VersionNT64 AND InstallX64 = 1) AND QesteidutilInstall = 1" ForcePerMachine="yes"
          SourceFile="$(var.qesteidutil).x64.et-EE.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="DESKTOP_SHORTCUT" Value="[IconsDesktop]"/>
      </MsiPackage>

      <MsiPackage Id="qesteidutil.en_US.X86" InstallCondition="NOT UserLanguageID = 1061 AND (NOT VersionNT64 OR InstallX64 = 0) AND QesteidutilInstall = 1" ForcePerMachine="yes"
          SourceFile="$(var.qesteidutil).x86.en-US.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="DESKTOP_SHORTCUT" Value="[IconsDesktop]"/>
      </MsiPackage>
      <MsiPackage Id="qesteidutil.et_EE.X86" InstallCondition="UserLanguageID = 1061 AND (NOT VersionNT64 OR InstallX64 = 0) AND QesteidutilInstall = 1" ForcePerMachine="yes"
          SourceFile="$(var.qesteidutil).x86.et-EE.msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="DESKTOP_SHORTCUT" Value="[IconsDesktop]"/>
      </MsiPackage>

      <MsiPackage Id="TeRa_x86" InstallCondition="NOT VersionNT64 AND TeRaInstall = 1" ForcePerMachine="yes"
          SourceFile="TeRa_x86.$(var.teraVersion).msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="DESKTOP_SHORTCUT" Value="[IconsDesktop]"/>
      </MsiPackage>
      <MsiPackage Id="TeRa_x64" InstallCondition="VersionNT64 AND TeRaInstall = 1" ForcePerMachine="yes"
          SourceFile="TeRa_x64.$(var.teraVersion).msi" DownloadUrl="$(var.URL)" Compressed="$(var.embed)">
        <MsiProperty Name="DESKTOP_SHORTCUT" Value="[IconsDesktop]"/>
      </MsiPackage>

      <MsiPackage Id="MetaInfo" ForcePerMachine="yes" SourceFile="metainfo.msi" Compressed="yes">
        <MsiProperty Name="IESupport" Value="[IESupport]"/>
        <MsiProperty Name="ChromeSupport" Value="[ChromeSupport]"/>
        <MsiProperty Name="FirefoxSupport" Value="[FirefoxSupport]"/>
        <MsiProperty Name="MinidriverInstall" Value="[MinidriverInstall]"/>
        <MsiProperty Name="QdigidocInstall" Value="[QdigidocInstall]"/>
        <MsiProperty Name="QesteidutilInstall" Value="[QesteidutilInstall]"/>
        <MsiProperty Name="TeRaInstall" Value="[TeRaInstall]"/>
        <MsiProperty Name="AutoUpdate" Value="[AutoUpdate]"/>
        <MsiProperty Name="IconsDesktop" Value="[IconsDesktop]"/>
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
