<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle Name="eID software" Version="$(var.MSI_VERSION)" Manufacturer="RIA"
      UpgradeCode="f1c4d351-269d-4bee-8cdb-6ea70c968875"
      Copyright="RIA" IconSourceFile="$(var.path)\ID.ico" AboutUrl="http://www.id.ee">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
          LicenseUrl=""
          LogoFile="$(var.path)\banner.bmp"
          LogoSideFile="$(var.path)\dlgbmp.bmp"
          ThemeFile="$(var.path)\HyperlinkSidebarTheme.xml"
          Theme="hyperlinkSidebarLicense" />
        <Payload Name="1033\thm.wxl" SourceFile="$(var.path)\HyperlinkSidebarTheme.en.wxl" Compressed="yes" />
        <Payload Name="1061\thm.wxl" SourceFile="$(var.path)\HyperlinkSidebarTheme.et.wxl" Compressed="yes" />
        <Payload Name="ID.ico" SourceFile="$(var.path)\ID.ico" Compressed="yes" />
    </BootstrapperApplication>

    <bal:Condition Message="#(loc.SupportedWindows)" Condition="VersionNT &gt;= v10.0 AND VersionNT64" />

    <Variable Name="ChromeSupport" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1" />
    <Variable Name="EdgeSupport" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1" />
    <Variable Name="ForceChromeExtensionActivation2" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1" />
    <Variable Name="ForceEdgeExtensionActivation2" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1" />
    <Variable Name="FirefoxSupport" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1" />
    <Variable Name="InstallCertSynchronizer" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="0" />
    <Variable Name="MinidriverInstall" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1" />
    <Variable Name="Qdigidoc4Install" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1" />
    <Variable Name="IconsDesktop" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1" />
    <Variable Name="AutoUpdate" Persisted="yes" bal:Overridable="yes" Type="numeric" Value="1" />
    <Variable Name="InstallFolder" Type="formatted" Value="[ProgramFiles6432Folder]Open-EID" />

    <?define REGPath = "Software\[WixBundleManufacturer]\Open-EID"?>
    <util:ProductSearch Id="OpenEID_Installed" UpgradeCode="42137cbc-8356-4ac4-9295-735f258b5abb" Variable="Installed" /><!-- metainfo.msi -->
    <util:RegistrySearch Variable="ChromeSupport" Condition="Installed &gt; v0.0.0.0" Result="exists" Root="HKLM"
      Key="SOFTWARE\Google\Chrome\Extensions\ncibgoaomkmdpilpocfeponihegamlic" Value="update_url" After="OpenEID_Installed" />
    <util:RegistrySearch Variable="EdgeSupport" Condition="Installed &gt; v0.0.0.0" Result="exists" Root="HKLM"
      Key="SOFTWARE\Microsoft\Edge\Extensions\gnmckgbandlkacikdndelhfghdejfido" Value="update_url" After="OpenEID_Installed" />
    <util:RegistrySearch Variable="FirefoxSupport" Condition="Installed &gt; v0.0.0.0" Result="exists" Root="HKLM"
      Key="SOFTWARE\Mozilla\NativeMessagingHosts\eu.webeid" Bitness="always64" After="OpenEID_Installed" />
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="MinidriverInstall" Variable="MinidriverInstallExists" Result="exists" Id="MinidriverInstallExists" />
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="MinidriverInstall" Variable="MinidriverInstall" Condition="MinidriverInstallExists" After="MinidriverInstallExists" />
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="Qdigidoc4Install" Variable="Qdigidoc4InstallExists" Result="exists" Id="Qdigidoc4InstallExists" />
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="Qdigidoc4Install" Variable="Qdigidoc4Install" Condition="Qdigidoc4InstallExists" After="Qdigidoc4InstallExists" />
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="AutoUpdate" Variable="AutoUpdateExists" Result="exists" Id="AutoUpdateExists" />
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="AutoUpdate" Variable="AutoUpdate" Condition="AutoUpdateExists" After="AutoUpdateExists" />
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="IconsDesktop" Variable="IconsDesktopExists" Result="exists" Id="IconsDesktopExists" />
    <util:RegistrySearch Root="HKLM" Key="$(var.REGPath)" Value="IconsDesktop" Variable="IconsDesktop" Condition="IconsDesktopExists" After="IconsDesktopExists" />

    <util:ProductSearch Variable="AWP_5_3_5_EN" ProductCode="{E8616345-2F3F-46E8-B8CC-11B6E5B701D2}" />
    <util:ProductSearch Variable="AWP_5_3_5_ET" ProductCode="{6D591292-39B5-4DC3-AE3D-ED51D6B7F808}" />
    <util:ProductSearch Variable="AWP_5_3_4_EN" ProductCode="{82B38741-DD3F-4CFE-A379-DC9D3B5979D8}" />
    <util:ProductSearch Variable="AWP_5_3_4_ET" ProductCode="{4D4EA8EC-8250-4D1D-94DE-088B6688ACDB}" />
    <util:ProductSearch Variable="AWP_5_3_3_EN" ProductCode="{3883C327-19F6-4301-8660-BD4B17FB63CB}" />
    <util:ProductSearch Variable="AWP_5_3_3_ET" ProductCode="{CC15A913-C014-48D4-B466-F0CE76C459C7}" />
    <util:ProductSearch Variable="AWP_5_3_2_EN" ProductCode="{00B1E4F6-17E7-430B-AC68-78F2583763C8}" />
    <util:ProductSearch Variable="AWP_5_3_2_ET" ProductCode="{299E6366-6AAC-4CCE-BE39-218BC44C0C31}" />
    <util:ProductSearch Variable="AWP_5_3_1_EN" ProductCode="{811CEA74-3814-408F-B09B-F9C7FF271725}" />
    <util:ProductSearch Variable="AWP_5_3_1_ET" ProductCode="{CD591B98-0FD2-49D9-974B-29B337084CC2}" />
    <util:ProductSearch Variable="AWP_5_3_0_EN" ProductCode="{72555BBB-6AAA-4975-9B74-EDC6377CA370}" />
    <util:ProductSearch Variable="AWP_5_3_0_ET" ProductCode="{C66CD92C-959A-4E2F-A325-AC5F38FA24B4}" />

    <Chain>
      <ExePackage Id="UninstallAWP1" DisplayName="Remove AWP Minidriver 1" Cache="remove" Compressed="yes" PerMachine="yes" Vital="no" Permanent="yes"
        SourceFile="cmd.exe" InstallArguments="/c msiexec /x {E8616345-2F3F-46E8-B8CC-11B6E5B701D2} /quiet /norestart" DetectCondition="AWP_5_3_5_EN &gt; v0.0.0.0" />
      <ExePackage Id="UninstallAWP2" DisplayName="Remove AWP Minidriver 2" Cache="remove" Compressed="yes" PerMachine="yes" Vital="no" Permanent="yes"
        SourceFile="cmd.exe" InstallArguments="/c msiexec /x {6D591292-39B5-4DC3-AE3D-ED51D6B7F808} /quiet /norestart" DetectCondition="AWP_5_3_5_ET &gt; v0.0.0.0" />
      <ExePackage Id="UninstallAWP3" DisplayName="Remove AWP Minidriver 3" Cache="remove" Compressed="yes" PerMachine="yes" Vital="no" Permanent="yes"
        SourceFile="cmd.exe" InstallArguments="/c msiexec /x {82B38741-DD3F-4CFE-A379-DC9D3B5979D8} /quiet /norestart" DetectCondition="AWP_5_3_4_EN &gt; v0.0.0.0" />
      <ExePackage Id="UninstallAWP4" DisplayName="Remove AWP Minidriver 4" Cache="remove" Compressed="yes" PerMachine="yes" Vital="no" Permanent="yes"
        SourceFile="cmd.exe" InstallArguments="/c msiexec /x {4D4EA8EC-8250-4D1D-94DE-088B6688ACDB} /quiet /norestart" DetectCondition="AWP_5_3_4_ET &gt; v0.0.0.0" />
      <ExePackage Id="UninstallAWP5" DisplayName="Remove AWP Minidriver 5" Cache="remove" Compressed="yes" PerMachine="yes" Vital="no" Permanent="yes"
        SourceFile="cmd.exe" InstallArguments="/c msiexec /x {3883C327-19F6-4301-8660-BD4B17FB63CB} /quiet /norestart" DetectCondition="AWP_5_3_3_EN &gt; v0.0.0.0" />
      <ExePackage Id="UninstallAWP6" DisplayName="Remove AWP Minidriver 6" Cache="remove" Compressed="yes" PerMachine="yes" Vital="no" Permanent="yes"
        SourceFile="cmd.exe" InstallArguments="/c msiexec /x {CC15A913-C014-48D4-B466-F0CE76C459C7} /quiet /norestart" DetectCondition="AWP_5_3_3_ET &gt; v0.0.0.0" />
      <ExePackage Id="UninstallAWP7" DisplayName="Remove AWP Minidriver 7" Cache="remove" Compressed="yes" PerMachine="yes" Vital="no" Permanent="yes"
        SourceFile="cmd.exe" InstallArguments="/c msiexec /x {00B1E4F6-17E7-430B-AC68-78F2583763C8} /quiet /norestart" DetectCondition="AWP_5_3_2_EN &gt; v0.0.0.0" />
      <ExePackage Id="UninstallAWP8" DisplayName="Remove AWP Minidriver 8" Cache="remove" Compressed="yes" PerMachine="yes" Vital="no" Permanent="yes"
        SourceFile="cmd.exe" InstallArguments="/c msiexec /x {299E6366-6AAC-4CCE-BE39-218BC44C0C31} /quiet /norestart" DetectCondition="AWP_5_3_2_ET &gt; v0.0.0.0" />
      <ExePackage Id="UninstallAWP9" DisplayName="Remove AWP Minidriver 9" Cache="remove" Compressed="yes" PerMachine="yes" Vital="no" Permanent="yes"
        SourceFile="cmd.exe" InstallArguments="/c msiexec /x {811CEA74-3814-408F-B09B-F9C7FF271725} /quiet /norestart" DetectCondition="AWP_5_3_1_EN &gt; v0.0.0.0" />
      <ExePackage Id="UninstallAWP10" DisplayName="Remove AWP Minidriver 10" Cache="remove" Compressed="yes" PerMachine="yes" Vital="no" Permanent="yes"
        SourceFile="cmd.exe"  InstallArguments="/c msiexec /x {CD591B98-0FD2-49D9-974B-29B337084CC2} /quiet /norestart" DetectCondition="AWP_5_3_1_ET &gt; v0.0.0.0" />
      <ExePackage Id="UninstallAWP11" DisplayName="Remove AWP Minidriver 11" Cache="remove" Compressed="yes" PerMachine="yes" Vital="no" Permanent="yes"
        SourceFile="cmd.exe" InstallArguments="/c msiexec /x {72555BBB-6AAA-4975-9B74-EDC6377CA370} /quiet /norestart" DetectCondition="AWP_5_3_0_EN &gt; v0.0.0.0" />
      <ExePackage Id="UninstallAWP12" DisplayName="Remove AWP Minidriver 12" Cache="remove" Compressed="yes" PerMachine="yes" Vital="no" Permanent="yes"
        SourceFile="cmd.exe" InstallArguments="/c msiexec /x {C66CD92C-959A-4E2F-A325-AC5F38FA24B4} /quiet /norestart" DetectCondition="AWP_5_3_0_ET &gt; v0.0.0.0" />

      <MsiPackage Id="IDEMIA" InstallCondition="MinidriverInstall = 1" ForcePerMachine="yes"
          SourceFile="$(var.idemia)" Compressed="yes">
        <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
        <MsiProperty Name="INSTALL64DIR" Value="[InstallFolder]" />
        <MsiProperty Name="INSTALLDIR_MINIDRIVER_EESTI" Value="[InstallFolder]\Idemia" />
        <MsiProperty Name="PKCS11" Value="0" />
        <MsiProperty Name="IDPLUG_SERVICES" Value="[InstallCertSynchronizer]" />
      </MsiPackage>

      <MsiPackage Id="Updater" ForcePerMachine="yes" SourceFile="$(var.updater)" Compressed="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="AUTO_UPDATE" Value="[AutoUpdate]" />
      </MsiPackage>

      <MsiPackage Id="WebEID" InstallCondition="ChromeSupport = 1 OR EdgeSupport = 1 OR FirefoxSupport = 1" ForcePerMachine="yes"
          SourceFile="$(var.webeid)" Compressed="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="CHROMEINSTALL" Value="[ChromeSupport]" />
        <MsiProperty Name="CHROMEPOLICY" Value="[ForceChromeExtensionActivation2]" />
        <MsiProperty Name="EDGEINSTALL" Value="[EdgeSupport]" />
        <MsiProperty Name="EDGEPOLICY" Value="[ForceEdgeExtensionActivation2]" />
        <MsiProperty Name="FIREFOXINSTALL" Value="[FirefoxSupport]" />
      </MsiPackage>

      <MsiPackage Id="DigiDoc4" InstallCondition="Qdigidoc4Install = 1" ForcePerMachine="yes"
          SourceFile="$(var.qdigidoc4)" Compressed="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="DESKTOP_SHORTCUT" Value="[IconsDesktop]" />
      </MsiPackage>

      <MsiPackage Id="shellext" InstallCondition="Qdigidoc4Install = 1" ForcePerMachine="yes"
          SourceFile="$(var.shellext)" Compressed="yes">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="MSIRMSHUTDOWN" Value="2" />
        <Provides Key="{EA515788-340A-428E-8DE6-F79C84CBBFCA}"/>
      </MsiPackage>

      <MsiPackage Id="MetaInfo" ForcePerMachine="yes" SourceFile="metainfo.msi" Compressed="yes">
        <MsiProperty Name="MinidriverInstall" Value="[MinidriverInstall]" />
        <MsiProperty Name="Qdigidoc4Install" Value="[Qdigidoc4Install]" />
        <MsiProperty Name="AutoUpdate" Value="[AutoUpdate]" />
        <MsiProperty Name="IconsDesktop" Value="[IconsDesktop]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
