<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="chromeTokenSigning" Guid="d5a53e2e-79a9-425f-9109-f153900c8803">
        <File Source="$(env.CHROME_TOKEN_PATH)/chrome-token-signing.exe"/>
        <File Source="$(env.CHROME_TOKEN_PATH)/ee.ria.esteid.json"/>
        <RegistryValue Root='HKLM' Type='string' Value='[APPLICATIONFOLDER]ee.ria.esteid.json'
            Key='SOFTWARE\Google\Chrome\NativeMessagingHosts\ee.ria.esteid'/>
        <RegistryValue Root='HKLM' Type='string' Name="update_url"
            Key='SOFTWARE\Google\Chrome\Extensions\ckjefchnfjhjfedoccjbhjpbncimppeg'
            Value='https://clients2.google.com/service/update2/crx'/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
