<?xml version="1.0" encoding="UTF-8"?>

<?define IDCardFolder = "Estonian ID Card" ?>
<?define UpgradeCode = "{58A1DBA8-81A2-4D58-980B-4A6174D5B66B}" ?>
<?ifdef env.VER_SUFFIX ?>
<?define VER_SUFFIX=$(env.VER_SUFFIX) ?>
<?else?>
<?define VER_SUFFIX="" ?>
<?endif ?>

<?if $(var.Platform) = "x64" ?>
<?define Win64YesNo="yes" ?>
<?define PlatformUserVisible=" (64 bit)" ?>
<?else?>
<?define Win64YesNo="no" ?>
<?define PlatformUserVisible="" ?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="!(loc.ProductName) $(env.MSI_VERSION)$(var.VER_SUFFIX)$(var.PlatformUserVisible)"
           Language="1033" Codepage="1251" Version="$(env.MSI_VERSION)" Manufacturer="RIA"
           UpgradeCode='$(var.UpgradeCode)'>
    <Package Platform="$(var.Platform)" InstallerVersion="405" Compressed="yes"/>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

    <!-- Don't allow 32 bit MSI to install on an x64 platform. -->
    <?if $(var.Platform)!=x64 ?>
    <Condition Message='!(loc.Win64Only)'>NOT VersionNT64</Condition>
    <?endif ?>
    <Condition Message="!(loc.RunAsAdministrator)">Privileged</Condition>
    <Condition Message="!(loc.Win7OrNewer)"><![CDATA[Installed OR (VersionNT >= 601)]]></Condition>
    <Condition Message="!(loc.SameVersionInstalled)">NOT SAME_OR_NEWER_VERSION_DETECTED</Condition>

    <!-- DigiDoc.msi upgrade tabelis UPGRADE_1 -->
    <Upgrade Id="{F3824017-C4B7-4438-BE1E-A1158988CEE3}">
      <UpgradeVersion Maximum="2.6.5.00" IncludeMaximum="yes" Property="REMOVINGSKDIGIDOC1" IgnoreRemoveFailure="yes"/>
    </Upgrade>

    <!-- DigiDoc.msi upgrade tabelis UPGRADE_2 -->
    <Upgrade Id="{15709E1D-03A2-4A0D-AE12-F5E185868D9E}">
      <UpgradeVersion Minimum="2.6.5.00" Maximum="3.0.0.00" IncludeMaximum="no" Property="REMOVINGSKDIGIDOC2"
                      IgnoreRemoveFailure="yes"/>
    </Upgrade>

    <!-- ID-kaart.msi upgrade tabelis UPGRADE_1 -->
    <Upgrade Id="{388EBF55-03B0-4BED-B6EC-FE6A96BB5386}">
      <UpgradeVersion Maximum="1.4.92.00" IncludeMaximum="yes" Property="REMOVINGSKIDKAART1" IgnoreRemoveFailure="yes"/>
    </Upgrade>

    <!-- ID-kaart.msi 1.4.92.00. -->
    <Upgrade Id="{74BC381F-B648-461B-8E37-4825171B49EB}">
      <UpgradeVersion Maximum="2.0.0.0" IncludeMaximum="no" Property="REMOVINGSKIDKAART2" IgnoreRemoveFailure="yes"/>
    </Upgrade>

    <!-- Upgrade this MSI -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(env.MSI_VERSION)" IncludeMinimum="no" OnlyDetect="yes"
                      Property="SAME_OR_NEWER_VERSION_DETECTED"/>
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(env.MSI_VERSION)" IncludeMaximum="yes"
                      MigrateFeatures="yes" Property="OLDERVERSIONBEINGUPGRADED"/>
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="3.5.0" IncludeMaximum="no" OnlyDetect="yes"
                      Property="EXISTING_PRE_3_5_VERSION_DETECTED"/>
    </Upgrade>

    <Property Id="IDEELABORFIREFOXDETECTED">
      <DirectorySearch Id="Ideelabor" Path="[ProgramFilesFolder]\Ideelabor\idCard" AssignToProperty="yes">
        <FileSearch Id="opensc.conf" Name="opensc.conf"/>
      </DirectorySearch>
    </Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder"/>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="EsteidShortcutFolder" Name="!(loc.idcardLabel)">
          <Component Id="EsteidShortcutComponent" Guid="*">
            <RemoveFolder Id="CleanupShortcutFolder" On="uninstall"/>
            <RegistryValue Root="HKMU" Key="Software\Estonian ID Card"
                Name="Installed" Value="[APPLICATIONFOLDER]" Type="string" KeyPath="yes"/>
         </Component>
       </Directory>
      </Directory>
      <Directory Id='ProgramFilesFolder'>
        <Directory Id="APPLICATIONFOLDER" Name="$(var.IDCardFolder)"/>
      </Directory>
      <Directory Id="SystemFolder"/>
      <?if $(var.Platform)=x64 ?>
      <Directory Id="System64Folder"/>
      <Directory Id='ProgramFiles64Folder'>
        <Directory Id="APPLICATION64FOLDER" Name="$(var.IDCardFolder)"/>
      </Directory>
      <?endif ?>

      <Component Id="Path" Guid="{6CA961A4-C564-4150-8448-B2B1E15CCC04}">
        <Environment Id="PATH" Name="PATH" Value="[APPLICATIONFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
      </Component>

      <?if $(var.Platform) = "x64" ?>
      <Component Id="RegistryInfo_64" Guid="*" Win64="yes">
        <Condition>Privileged</Condition>
        <RegistryValue Root="HKLM" Key="Software\Estonian ID Card"
            Name="Installed" Value="[APPLICATIONFOLDER]" Type="string"/>
      </Component>
      <?endif ?>
    </Directory>

    <Feature Id="qesteidutil" Title="!(loc.qesteidutilLabel)" Level="1">
      <ComponentGroupRef Id="qesteidutil"/>
      <ComponentGroupRef Id="QtLibs"/>
      <ComponentGroupRef Id="CommonLibs"/>
    </Feature>

    <Feature Id="qdigidoc" Title="!(loc.qdigidocclientLabel)" Level="1">
      <ComponentGroupRef Id="qdigidoc"/>
      <ComponentGroupRef Id="SKCertificates"/>
      <ComponentGroupRef Id="OpenSC"/>
      <ComponentGroupRef Id="QtLibs"/>
      <ComponentGroupRef Id="CommonLibs"/>
      <ComponentRef Id="msvcr100.dll_x86"/> <!-- ShellExtension -->
      <?if $(var.Platform)=x64 ?>
      <ComponentRef Id="msvcr100.dll_x64"/> <!-- ShellExtension -->
      <?endif ?>
    </Feature>

    <Feature Id="iesupport" Title="Internet Explorer Support" AllowAdvertise="no" Level="1">
      <ComponentGroupRef Id="iesupport"/>
    </Feature>

    <Feature Id="firefoxsupport" Title="Mozilla Support" AllowAdvertise="no" Level="1">
      <ComponentGroupRef Id="BrowserPlugin"/>
      <ComponentGroupRef Id="Pkcs11LoaderExtension"/>
      <ComponentGroupRef Id="CommonLibs"/>
      <ComponentGroupRef Id="OpenSC"/>
    </Feature>

    <Feature Id="chromesupport" Title="Chrome Support" AllowAdvertise="no" Level="1">
      <ComponentRef Id="chromeTokenSigning"/>
      <ComponentGroupRef Id="CommonLibs"/>
    </Feature>

    <Feature Id="common" Title="Common Items" AllowAdvertise="no" Display="hidden" Level="1">
      <ComponentGroupRef Id="updater"/>
      <ComponentGroupRef Id="QtLibs"/>
      <ComponentRef Id="EsteidShortcutComponent"/>
      <ComponentRef Id="Path"/>
      <?if $(var.Platform) = "x64" ?>
        <ComponentRef Id="RegistryInfo_64"/>
      <?endif ?>
    </Feature>

    <Feature Id="minidriver" Title="Estonian Minidriver" AllowAdvertise="no" Level="1">
      <ComponentGroupRef Id="minidriver"/>
    </Feature>

    <!-- Properties -->
    <!-- Install to all users -->
    <Property Id="ALLUSERS" Value="1"/>
    <WixVariable Id="WixUISupportPerMachine" Value="1" Overridable="no"/>
    <WixVariable Id="WixUISupportPerUser" Value="0" Overridable="no"/>
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dlgbmp.bmp" />
    <!-- http://msdn.microsoft.com/en-us/library/aa371182%28VS.85%29.aspx
         default: omus
         a - Force all files to be reinstalled, regardless of checksum or version.
         o - Reinstall if the file is missing or is an older version. -->
    <Property Id="REINSTALLMODE" Value="amus"/>

    <Icon Id="IDIcon" SourceFile="ID.ico"/>
    <Property Id="ARPHELPLINK" Value="http://www.ria.ee"/>
    <Property Id="ARPPRODUCTICON" Value="IDIcon"/>
    <Property Id="ARPURLINFOABOUT" Value="http://www.ria.ee/"/>
    <Property Id="ARPURLUPDATEINFO" Value="http://www.ria.ee"/>

    <UIRef Id="WixUI_IDCard"/>
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER"/>
    <Property Id="DESKTOP_SHORTCUT" Value="1"/>
    <Property Id="STARTMENU_SHORTCUT" Value="1"/>
    <Property Id="AUTO_UPDATE" Value="1"/>
    <Property Id="AUTO_RUN" Value="1"/>

    <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize"/>
    <SetProperty Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="!(loc.RunQesteidUtilDescription)" After="ExecuteAction" Sequence="ui"><![CDATA[&qesteidutil = 3]]></SetProperty>
    <SetProperty Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.RunQesteidUtilLabel)" After="ExecuteAction" Sequence="ui"><![CDATA[&qesteidutil = 3]]></SetProperty>
    <SetProperty Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" After="ExecuteAction" Sequence="ui"><![CDATA[&qesteidutil = 3]]></SetProperty>

    <!-- Step 3: Include the custom action -->
    <Property Id="WixShellExecTarget" Value="[#qesteidutil.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <CustomAction Id="SetIdeelaborUninstallerPath" Property="IDEELABOR_PACKAGE_UNINSTALLER"
                  Value="[ProgramFilesFolder]Ideelabor\idCard\unins000.exe"/>
    <CustomAction Id='RunIdeelaborPackageUninstaller' Property='IDEELABOR_PACKAGE_UNINSTALLER' ExeCommand='/VERYSILENT'
                  Return='check' Impersonate="no"/>
    <Binary Id="UninstallCertificatesBinKey" 
         SourceFile=".\EstEIDFindCertificateAction\bin\Release\EstEIDFindCertificateAction.dll"/> 
    <CustomAction Id="UninstallCerts" BinaryKey="UninstallCertificatesBinKey" Impersonate="no"
         DllEntry="UninstallCertificates" Execute="deferred" Return="check" HideTarget="no"/> 

    <InstallExecuteSequence>

      <FindRelatedProducts Before="LaunchConditions"/>
      <Custom Action="UninstallCerts" After="InstallInitialize" />

      <!-- Ideelabor Firefox needs to be uninstalled this way before other old software because a bug in old SK package uninstallation on 64-bit Windows -->
      <Custom Action="SetIdeelaborUninstallerPath" Before="RunIdeelaborPackageUninstaller">
        NOT Installed AND IDEELABORFIREFOXDETECTED
      </Custom>
      <Custom Action="RunIdeelaborPackageUninstaller" Before="RemoveExistingProducts">
        NOT Installed AND IDEELABORFIREFOXDETECTED
      </Custom>

      <!-- http://jpassing.wordpress.com/2007/06/16/where-to-place-removeexistingproducts-in-a-major-msi-upgrade/ -->
      <!-- http://blog.deploymentengineering.com/2008/05/more-problems-with-ms-vc-8-sp1-merge.html -->
      <RemoveExistingProducts After="InstallValidate"/>

      <!-- To register certificates we reboot computer after installation in rel 3.5 if previous version was installed and was 3.4 or less-->
      <ScheduleReboot After="InstallFinalize">
        EXISTING_PRE_3_5_VERSION_DETECTED AND (NOT REMOVE)
      </ScheduleReboot>

    </InstallExecuteSequence>

    <InstallUISequence>
      <FindRelatedProducts Before="LaunchConditions"/>
    </InstallUISequence>

  </Product>
</Wix>
