<?xml version="1.0" encoding="utf-8"?>
<?define browserPluginGUID = "{aa84ce40-4253-a00a-8cd6-0800200f9a66}" ?>
<!--https://developer.mozilla.org/en/Adding_Extensions_using_the_Windows_Registry-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="Pkcs11LoaderExtension">
      <ComponentRef Id='FirefoxPKCS11Loader'/>
      <ComponentRef Id='FirefoxPKCS11Loader_chrome'/>
      <ComponentRef Id='FirefoxPKCS11Loader_METAINF'/>
      <?if $(var.Platform) = "x64" ?>
      <ComponentRef Id='FirefoxPKCS11Loader_Registry_X64'/>
      <?endif ?>
    </ComponentGroup>

    <ComponentGroup Id="BrowserPlugin">
      <ComponentRef Id='npesteid_firefox_plugin.dll'/>
      <?if $(var.Platform) = "x64" ?>
      <ComponentRef Id='npesteid_firefox_plugin_X64.dll'/>
      <?endif ?>
      <ComponentRef Id='remove_npidcard.dll'/>
    </ComponentGroup>

    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="npesteid_firefox_plugin.dll" Guid="F765A58E-9766-4a93-8C3E-1017AEF15362">
        <File Source="$(env.ARCHIVE)\X86\npesteid-firefox-plugin.dll" />
        <RegistryValue Root="HKLM" Key="Software\MozillaPlugins\@RIA/esteid-firefox-plugin" Name="Path"
                       Value="[#npesteid_firefox_plugin.dll]" Type="string" Action="write"/>
      </Component>

      <Directory Id="FirefoxPKCS11Loader" Name="Firefox PKCS11 Loader">
        <Component Id="FirefoxPKCS11Loader" Guid="cf9e4ad5-8015-42f8-9400-3742a521071d">
          <RegistryValue Root="HKLM" Key="Software\Mozilla\Firefox\Extensions\" Name="$(var.browserPluginGUID)"
                         Value="[FirefoxPKCS11Loader]" Type="string" Action="write"/>
          <File Source="$(env.LOADER_PATH)\chrome.manifest" />
          <File Source="$(env.LOADER_PATH)\install.rdf" />
        </Component>
        <Directory Id="FirefoxPKCS11Loader_Chrome" Name="chrome">
          <Directory Id="FirefoxPKCS11Loader_Chrome_Content" Name="content">
            <Component Id="FirefoxPKCS11Loader_chrome" Guid="fa258cdb-8fc8-47c5-ab03-fac8fb40d01d">
              <File Source="$(env.LOADER_PATH)\chrome\content\browser.xul" />
              <File Source="$(env.LOADER_PATH)\chrome\content\id-32.png" />
              <File Source="$(env.LOADER_PATH)\chrome\content\pkcs11-loader.js" />
            </Component>
          </Directory>
        </Directory>
        <Directory Id="FirefoxPKCS11Loader_METAINF" Name="META-INF">
          <Component Id="FirefoxPKCS11Loader_METAINF" Guid="1ce86f88-d1b9-4dd7-9e0f-00774366d78f">
            <File Source="$(env.LOADER_PATH)\META-INF\manifest.mf" />
            <File Source="$(env.LOADER_PATH)\META-INF\mozilla.rsa" />
            <File Source="$(env.LOADER_PATH)\META-INF\mozilla.sf" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>

    <?if $(var.Platform) = "x64" ?>
    <DirectoryRef Id="APPLICATION64FOLDER">
      <Component Id="npesteid_firefox_plugin_X64.dll" Guid="2b6a8eec-93b6-4c07-9845-1a2132ef8a47" Win64="yes">
        <File Id="npesteid_firefox_plugin_X64.dll" Source="$(env.ARCHIVE)\X64\npesteid-firefox-plugin.dll" />
        <RegistryValue Root="HKLM" Key="Software\MozillaPlugins\@RIA/esteid-firefox-plugin" Name="Path"
                       Value="[#npesteid_firefox_plugin_X64.dll]" Type="string" Action="write"/>
      </Component>
      <Component Id="FirefoxPKCS11Loader_Registry_X64" Guid="*" Win64="yes">
        <RegistryValue Root="HKLM" Key="Software\Mozilla\Firefox\Extensions\" Name="$(var.browserPluginGUID)"
                       Value="[FirefoxPKCS11Loader]" Type="string" Action="write"/>
      </Component>
    </DirectoryRef>
    <?endif ?>

    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Id="MozillaFirefox" Name="Mozilla Firefox">
        <Directory Id="plugins" Name="plugins">
          <Component Id="remove_npidcard.dll" Guid="">
            <RemoveFile Id="npidcard.dll" On="install" Name="npidcard.dll"/>
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>

    <!-- Close Firefox before installing OpenSC and Firefox extension. -->
    <!--
         CloseApplication in Wix 3.0 RTM doesn't support showing the message.
         Disabling the custom action for now.
    <util:CloseApplication Id="CloseFirefox"
                           CloseMessage="no"
                           Target="firefox.exe"
                           RebootPrompt="no"
                           Description="Firefox is running and needs to be closed." />
    -->

  </Fragment>
</Wix>
