<?xml version="1.0" encoding="utf-8"?>
<?define browserPluginGUID = "{aa84ce40-4253-a00a-8cd6-0800200f9a67}" ?>
<!--https://developer.mozilla.org/en/Adding_Extensions_using_the_Windows_Registry-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="Pkcs11LoaderExtension">
      <ComponentRef Id='FirefoxPKCS11Loader'/>
      <?if $(var.Platform) = "x64" ?>
      <ComponentRef Id='FirefoxPKCS11Loader_Registry_X64'/>
      <?endif ?>
    </ComponentGroup>

    <ComponentGroup Id="BrowserPlugin">
      <ComponentRef Id='npesteid_firefox_plugin.dll'/>
      <?if $(var.Platform) = "x64" ?>
      <ComponentRef Id='npesteid_firefox_plugin_X64.dll'/>
      <?endif ?>
      <ComponentRef Id='remove_npidcard.dll'/>
    </ComponentGroup>

    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="npesteid_firefox_plugin.dll" Guid="F765A58E-9766-4a93-8C3E-1017AEF15362">
        <File Source="$(env.ARCHIVE)\X86\Firefox Token Signing Plugin\npesteid-firefox-plugin.dll" />
        <RegistryValue Root="HKLM" Key="Software\MozillaPlugins\@RIA/esteid-firefox-plugin" Name="Path"
                       Value="[#npesteid_firefox_plugin.dll]" Type="string" Action="write"/>
      </Component>

      <Component Id="FirefoxPKCS11Loader" Guid="cf9e4ad5-8015-42f8-9400-3742a521071d">
        <RegistryValue Root="HKLM" Key="Software\Mozilla\Firefox\Extensions\" Name="$(var.browserPluginGUID)"
                       Value="[APPLICATIONFOLDER]\$(var.browserPluginGUID).xpi" Type="string" Action="write"/>
        <File Source="$(var.browserPluginGUID).xpi" />
      </Component>
    </DirectoryRef>

    <?if $(var.Platform) = "x64" ?>
    <DirectoryRef Id="APPLICATION64FOLDER">
      <Component Id="npesteid_firefox_plugin_X64.dll" Guid="2b6a8eec-93b6-4c07-9845-1a2132ef8a47" Win64="yes">
        <File Id="npesteid_firefox_plugin_X64.dll" Source="$(env.ARCHIVE)\X64\Firefox Token Signing Plugin\npesteid-firefox-plugin.dll" />
        <RegistryValue Root="HKLM" Key="Software\MozillaPlugins\@RIA/esteid-firefox-plugin" Name="Path"
                       Value="[#npesteid_firefox_plugin_X64.dll]" Type="string" Action="write"/>
      </Component>
      <Component Id="FirefoxPKCS11Loader_Registry_X64" Guid="*" Win64="yes">
        <RegistryValue Root="HKLM" Key="Software\Mozilla\Firefox\Extensions\" Name="$(var.browserPluginGUID)"
                       Value="[APPLICATIONFOLDER]\$(var.browserPluginGUID).xpi" Type="string" Action="write"/>
      </Component>
    </DirectoryRef>
    <?endif ?>

    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Id="MozillaFirefox" Name="Mozilla Firefox">
        <Directory Id="plugins" Name="plugins">
          <Component Id="remove_npidcard.dll" Guid="">
            <RemoveFile Id="npidcard.dll" On="install" Name="npidcard.dll"/>
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
