<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="iesupport">
      <ComponentRef Id="esteid_plugin_ie.dll"/>
      <ComponentRef Id="CleanSystemFolder"/>
      <?if $(var.Platform) = "x64" ?>
      <ComponentRef Id="esteid_plugin_ie_64.dll"/>
      <?endif ?>
    </ComponentGroup>

    <DirectoryRef Id="APPLICATIONFOLDER">
      <!-- This block is generated with heat.exe:
      "%WIX%\bin\heat.exe" file esteid-plugin-ie.dll -o out.wxs

      out.wxs content copied here and replaced File Source, Component Id, AppId Description
      -->
      <Component Id="esteid_plugin_ie.dll" Guid="{B5C61F10-1F23-497a-91A5-9348BA3DB6E6}">
        <AppId Description="IE plugin for Estonian ID Card" Id="545B4ED6-A2FE-49F1-AF8E-FA18B6261E48"/>
        <File Id="esteid_plugin_ie.dll" KeyPath="yes" Name="esteid-plugin-ie.dll"
              Source="$(env.ARCHIVE)\X86\IE Token Signing Plugin\esteid-plugin-ie.dll">
          <TypeLib Id="{23EF5046-6402-4C39-B34B-3C47826805D1}" Description="esteidpluginie 1.0 Type Library"
                   Language="0" MajorVersion="1" MinorVersion="0">
            <Class Id="{2615B13B-A08B-442C-8032-4D9981060190}" Context="InprocServer32"
                   Description="EstEIDCertificate Class" ThreadingModel="apartment" Programmable="yes">
              <ProgId Id="esteidpluginie.EstEIDCertificate.1" Description="EstEIDCertificate Class">
                <ProgId Id="esteidpluginie.EstEIDCertificate" Description="EstEIDCertificate Class"/>
              </ProgId>
            </Class>
            <Class Id="{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}" Context="InprocServer32"
                   Description="EstEIDIEPluginBHO Class" ThreadingModel="apartment" Programmable="yes">
              <ProgId Id="esteidpluginie.EstEIDIEPluginBHO.1" Description="EstEIDIEPluginBHO Class">
                <ProgId Id="esteidpluginie.EstEIDIEPluginBHO" Description="EstEIDIEPluginBHO Class"/>
              </ProgId>
            </Class>
            <Interface Id="{4E59E13F-7CEE-4013-9275-685FAFCD560B}" Name="IEstEIDIEPluginBHO"
                       ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}"/>
            <Interface Id="{E23AF8B5-2D34-45EC-95E6-24791F84486E}" Name="IEstEIDCertificate"
                       ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}"/>
          </TypeLib>
        </File>
        <ProgId Id="MIME"/>
        <RegistryValue Root="HKCR" Key="AppID\esteid-plugin-ie.DLL" Name="AppID"
                       Value="{545B4ED6-A2FE-49F1-AF8E-FA18B6261E48}" Type="string" Action="write"/>
        <RegistryValue Root="HKCR" Key="MIME\Database\Content Type\application/x-digidoc" Name="CLSID"
                       Value="{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}" Type="string" Action="write"/>
        <RegistryValue Root="HKLM"
                       Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}"
                       Value="EstEIDIEPluginBHO" Type="string" Action="write"/>
        <RegistryValue Root="HKLM"
                       Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}"
                       Name="NoExplorer" Value="1" Type="integer" Action="write"/>
        <RegistryValue Root="HKLM"
                       Key="Software\Microsoft\Windows\CurrentVersion\Ext\PreApproved\{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}"
                       Value="EstEIDIEPluginBHO" Type="string" Action="write"/>
        <RegistryValue Root="HKLM"
                       Key="Software\Microsoft\Windows\CurrentVersion\Ext\PreApproved\{FC5B7BD2-584A-4153-92D7-4C5840E4BC28}"
                       Value="EstEIDIEPluginBHO" Type="string" Action="write"/>

        <RegistryValue Root="HKCU" Key="Software\Microsoft\Internet Explorer\Approved Extensions"
                       Name="{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}"
                       Value="51667a6c4c1d3b1bb4895b3145e674018a3f8b3a27bb3b2e" Type="binary" Action="write"/>

        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Classes\CLSID\{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}\Implemented Categories\{7DD95801-9882-11CF-9FA9-00AA006C42C4}"
                     Action="createAndRemoveOnUninstall"/>
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Classes\CLSID\{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}\Implemented Categories\{59fb2056-d625-48d0-a944-1a85b5ab2640}"
                     Action="createAndRemoveOnUninstall"/>
        <RegistryKey Root="HKCR"
                     Key="CLSID\{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}\Implemented Categories\{59fb2056-d625-48d0-a944-1a85b5ab2640}"
                     Action="createAndRemoveOnUninstall"/>
      <RegistryKey Root="HKLM"
                   Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\Ext\CLSID"
                   Action="create"/>
      <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\Ext\CLSID"
                     Name="{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}" Value="1" Action="write" Type="string"/>
      </Component>
    </DirectoryRef>

    <?if $(var.Platform) = "x64" ?>
    <DirectoryRef Id="APPLICATION64FOLDER">
      <!-- This block is generated with heat.exe:
      "%WIX%\bin\heat.exe" file esteid-plugin-ie.dll -o out.wxs

      out.wxs content copied here and replaced File Source, Component Id, AppId Description
      -->
      <Component Id="esteid_plugin_ie_64.dll" Guid="{86DFD242-790A-425a-B0B6-C3860A8674E4}" Win64="yes">
        <AppId Description="IE plugin for Estonian ID Card" Id="{545B4ED6-A2FE-49F1-AF8E-FA18B6261E48}"/>
        <File Id="esteid_plugin_ie_64.dll" KeyPath="yes" Name="esteid-plugin-ie.dll" 
              Source="$(env.ARCHIVE)\X64\IE Token Signing Plugin\esteid-plugin-ie64.dll">
          <TypeLib Id="{23EF5046-6402-4C39-B34B-3C47826805D1}" Description="esteidpluginie 1.0 Type Library"
                   Language="0" MajorVersion="1" MinorVersion="0">
            <Class Id="{2615B13B-A08B-442C-8032-4D9981060190}" Context="InprocServer32"
                   Description="EstEIDCertificate Class" ThreadingModel="apartment" Programmable="yes">
              <ProgId Id="esteidpluginie.EstEIDCertificate.1" Description="EstEIDCertificate Class">
                <ProgId Id="esteidpluginie.EstEIDCertificate" Description="EstEIDCertificate Class"/>
              </ProgId>
            </Class>
            <Class Id="{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}" Context="InprocServer32"
                   Description="EstEIDIEPluginBHO Class" ThreadingModel="apartment" Programmable="yes">
              <ProgId Id="esteidpluginie.EstEIDIEPluginBHO.1" Description="EstEIDIEPluginBHO Class">
                <ProgId Id="esteidpluginie.EstEIDIEPluginBHO" Description="EstEIDIEPluginBHO Class"/>
              </ProgId>
            </Class>
            <Interface Id="{4E59E13F-7CEE-4013-9275-685FAFCD560B}" Name="IEstEIDIEPluginBHO"
                       ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}"/>
            <Interface Id="{E23AF8B5-2D34-45EC-95E6-24791F84486E}" Name="IEstEIDCertificate"
                       ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}"/>
          </TypeLib>
        </File>
        <ProgId Id="MIME"/>
        <RegistryValue Root="HKCR" Key="AppID\esteid-plugin-ie.DLL" Name="AppID"
                       Value="{545B4ED6-A2FE-49F1-AF8E-FA18B6261E48}" Type="string" Action="write"/>
        <RegistryValue Root="HKCR" Key="MIME\Database\Content Type\application/x-digidoc" Name="CLSID"
                       Value="{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}" Type="string" Action="write"/>
        <RegistryValue Root="HKLM"
                       Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}"
                       Value="EstEIDIEPluginBHO" Type="string" Action="write"/>
        <RegistryValue Root="HKLM"
                       Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}"
                       Name="NoExplorer" Value="1" Type="integer" Action="write"/>
        <RegistryValue Root="HKLM"
                       Key="Software\Microsoft\Windows\CurrentVersion\Ext\PreApproved\{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}"
                       Value="EstEIDIEPluginBHO" Type="string" Action="write"/>
        <RegistryValue Root="HKLM"
                       Key="Software\Microsoft\Windows\CurrentVersion\Ext\PreApproved\{FC5B7BD2-584A-4153-92D7-4C5840E4BC28}"
                       Value="EstEIDIEPluginBHO" Type="string" Action="write"/>

        <RegistryValue Root="HKCU" Key="Software\Microsoft\Internet Explorer\Approved Extensions"
                       Name="{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}"
                       Value="51667a6c4c1d3b1bb4895b3145e674018a3f8b3a27bb3b2e" Type="binary" Action="write"/>

        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Classes\CLSID\{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}\Implemented Categories\{7DD95801-9882-11CF-9FA9-00AA006C42C4}"
                     Action="createAndRemoveOnUninstall"/>
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Classes\CLSID\{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}\Implemented Categories\{59fb2056-d625-48d0-a944-1a85b5ab2640}"
                     Action="createAndRemoveOnUninstall"/>
        <RegistryKey Root="HKCR"
                     Key="CLSID\{2A4E94A4-B275-491A-9E32-CD7A26FC7C3B}\Implemented Categories\{59fb2056-d625-48d0-a944-1a85b5ab2640}"
                     Action="createAndRemoveOnUninstall"/>

      </Component>
    </DirectoryRef>
    <?endif ?>

    <DirectoryRef Id="SystemFolder">
      <Component Id="CleanSystemFolder" Guid="{0AB5E4B0-F4DF-4D1B-859C-A2018CDB75DD}">
        <RemoveFile Id="System_EIDCard.dll" On="install" Name="EIDCard.dll"/>
        <RemoveFile Id="System_esteid.dll" On="install" Name="esteid.dll"/>
        <RemoveFile Id="System_EstEIDSigningPluginBHO.dll" On="install" Name="EstEIDSigningPluginBHO.dll"/>
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
