<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="libdigidocpp">
      <ComponentRef Id="digidocpp"/>
      <ComponentRef Id="schema"/>
    </ComponentGroup>

    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="digidocpp" Guid="ae935841-bed0-4327-a986-9e087dbf97b3">
        <File Source="$(env.CLIENT_PATH)\digidocpp.conf"/>
        <File Source="$(env.CLIENT_PATH)\73411.p12"/>
        <File Source="$(env.CLIENT_PATH)\digidoc-tool.exe"/>
        <File Source="$(env.CLIENT_PATH)\digidocpp.dll"/>
        <File Source="$(env.CLIENT_PATH)\xerces-c_3_1.dll"/>
        <File Source="$(env.CLIENT_PATH)\xsec_1_7.dll"/>
        <File Source="$(env.CLIENT_PATH)\xalan-c_1_11.dll"/>
        <File Source="$(env.CLIENT_PATH)\xalanmessages_1_11.dll"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="SchemaFolder">
      <Component Id="schema" Guid="cd21ad2f-0098-413b-8c6e-c9132d5f0e56">
        <File Source="$(env.CLIENT_PATH)\schema\conf.xsd"/>
        <File Source="$(env.CLIENT_PATH)\schema\OpenDocument_manifest.xsd"/>
        <File Source="$(env.CLIENT_PATH)\schema\xmldsig-core-schema.xsd"/>
        <File Source="$(env.CLIENT_PATH)\schema\XAdES.xsd"/>
        <File Source="$(env.CLIENT_PATH)\schema\ts_119612v010101.xsd"/>
        <File Source="$(env.CLIENT_PATH)\schema\ts_102918v010201.xsd"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
