<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="eID software browser plugins" Version="$(var.MSI_VERSION)" Manufacturer="RIA"
      UpgradeCode="68071ee6-cad4-46f4-b8dd-26b524c501fa"
      Copyright="RIA" IconSourceFile="$(var.path)\ID.ico" AboutUrl="http://www.id.ee"
      Condition="(VersionNT >= v6.1)">
    <BootstrapperApplicationRef
        Id="WixStandardBootstrapperApplication.HyperlinkSidebarLicense"
        bal:UseUILanguages="yes">
      <bal:WixStandardBootstrapperApplication
          LicenseUrl=""
          SuppressOptionsUI="yes"
          LogoFile="$(var.path)\banner.bmp"
          LogoSideFile="$(var.path)\dlgbmp.bmp"
          ThemeFile="$(var.path)\HyperlinkSidebarTheme_plugins.xml"/>
        <Payload Name="1033\thm.wxl" SourceFile="$(var.path)\HyperlinkSidebarTheme.en.wxl"/>
        <Payload Name="1061\thm.wxl" SourceFile="$(var.path)\HyperlinkSidebarTheme.et.wxl"/>
    </BootstrapperApplicationRef>
    <Variable Name="InstallFolder" Type="string" Value="[ProgramFiles6432Folder]Open-EID"/>
    <Chain>
      <MsiPackage Id="WebEID.X64" ForcePerMachine="yes"
          SourceFile="$(var.webeid).x64.qt.msi" Compressed="yes">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[ProgramFilesFolder]\Open-EID"/>
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
