<?xml version="1.0" encoding="utf-8"?>

<?define QdigidocRegistryKey = "Software\Estonian ID Card\QDigiDoc Client" ?>
<?define ShellExtId = "{310AAB39-76FE-401B-8A7F-0F578C5F6AB5}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="qdigidoc">
            <ComponentRef Id="digidoc"/>
            <ComponentRef Id="digidocpp"/>
            <ComponentRef Id="schema"/>
            <ComponentRef Id="qdigidocclient" />
            <ComponentRef Id="QdigidocStartMenuShortcut" />
            <ComponentRef Id="QdigidocDesktopShortcut" />

            <ComponentRef Id="EsteidShellExtension.dll" />
            <ComponentRef Id="InstallRegWild" />
            <ComponentRef Id="InstallRegApproved" />
            <?if $(var.Platform) = "x64" ?>
            <ComponentRef Id="EsteidShellExtension_64.dll" />
            <ComponentRef Id="InstallRegWild_64" />
            <ComponentRef Id="InstallRegApproved_64" />
            <?endif ?>
        </ComponentGroup>

        <DirectoryRef Id="SchemaFolder">
            <Component Id="schema" Guid="cd21ad2f-0098-413b-8c6e-c9132d5f0e56">
                <File Source="$(env.CLIENT_PATH)\schema\conf.xsd"/>
                <File Source="$(env.CLIENT_PATH)\schema\OpenDocument_manifest.xsd"/>
                <File Source="$(env.CLIENT_PATH)\schema\xmldsig-core-schema.xsd"/>
                <File Source="$(env.CLIENT_PATH)\schema\XAdES.xsd"/>
                <File Source="$(env.CLIENT_PATH)\schema\XAdESv141.xsd"/>
                <File Source="$(env.CLIENT_PATH)\schema\ts_119612v010101.xsd"/>
                <File Source="$(env.CLIENT_PATH)\schema\ts_102918v010201.xsd"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="digidoc" Guid="{2EF5C683-22B4-40cc-8ABC-931167365CE5}">
                <File Source="$(env.CLIENT_PATH)\digidoc.ini" KeyPath="yes"/>
                <IniFile Id="setCaCertPath" Action="addLine" Directory="APPLICATIONFOLDER" Name="digidoc.ini"
                    Section="ca" Key="CA_CERT_PATH" Value="[APPLICATIONFOLDER]certs"/>
                <File Source="$(env.CLIENT_PATH)\digidoc.dll" />
                <File Source="$(env.CLIENT_PATH)\cdigidoc.exe" />
                <File Source="$(env.CLIENT_PATH)\libxml2.dll" />
            </Component>
            <Component Id="digidocpp" Guid="ae935841-bed0-4327-a986-9e087dbf97b3">
                 <File Source="$(env.CLIENT_PATH)\digidocpp.conf"/>
                 <File Source="$(env.CLIENT_PATH)\878252.p12"/>
                 <File Source="$(env.CLIENT_PATH)\digidoc-tool.exe"/>
                 <File Source="$(env.CLIENT_PATH)\digidocpp.dll"/>
                 <File Source="$(env.CLIENT_PATH)\xerces-c_3_1.dll"/>
                 <File Source="$(env.CLIENT_PATH)\xsec_1_7.dll"/>
            </Component>
            <Component Id="qdigidocclient" Guid="*">
                <File Id="qdigidocclient.exe" Source="$(env.CLIENT_PATH)\qdigidocclient.exe" Checksum="yes" Vital="yes" />
                <ProgId Id="Qdigidocclient.bdoc" Description="DigiDoc signed document" Icon="qdigidocclient.exe" IconIndex="1">
                    <Extension Id="bdoc" ContentType="application/vnd.bdoc-1.0">
                        <Verb Id="open" TargetFile="qdigidocclient.exe" Command="Open" Argument='"%1"' />
                    </Extension>
                </ProgId>
                <ProgId Id="Qdigidocclient.asice" Description="DigiDoc signed document" Icon="qdigidocclient.exe" IconIndex="1">
                    <Extension Id="asice" ContentType="application/vnd.etsi.asic-e+zip">
                        <Verb Id="open" TargetFile="qdigidocclient.exe" Command="Open" Argument='"%1"' />
                    </Extension>
                </ProgId>
                <ProgId Id="Qdigidocclient.sce" Description="DigiDoc signed document" Icon="qdigidocclient.exe" IconIndex="1">
                    <Extension Id="sce" ContentType="application/vnd.etsi.asic-e+zip">
                        <Verb Id="open" TargetFile="qdigidocclient.exe" Command="Open" Argument='"%1"' />
                    </Extension>
                </ProgId>
                <ProgId Id="Qdigidocclient.ddoc" Description="DigiDoc signed document" Icon="qdigidocclient.exe" IconIndex="1">
                    <Extension Id="ddoc" ContentType="application/x-ddoc">
                        <Verb Id="open" TargetFile="qdigidocclient.exe" Command="Open" Argument='"%1"' />
                    </Extension>
                </ProgId>
                <ProgId Id="Qdigidocclient.p12d" Description="DigiDoc PKCS#12 certificate" Icon="qdigidocclient.exe" IconIndex="1">
                    <Extension Id="p12d" ContentType="application/x-p12d">
                        <Verb Id="open" TargetFile="qdigidocclient.exe" Command="Open" Argument='"%1"' />
                    </Extension>
                </ProgId>
                <ProgId Id="Qdigidoccrypto.cdoc" Description="DigiDoc encrypted container" Icon="qdigidocclient.exe" IconIndex="3">
                    <Extension Id="cdoc" ContentType="application/x-cdoc">
                        <Verb Id="open" TargetFile="qdigidocclient.exe" Command="Open" Argument='-crypto "%1"' />
                    </Extension>
                </ProgId>
            </Component>

            <!-- Always install 32 bit shell extension. -->
            <Component Id="EsteidShellExtension.dll" Guid="*">
                <File Source="$(env.ARCHIVE)\X86\EsteidShellExtension.dll" Checksum="yes" Vital="yes" />
                <RegistryKey Root="HKCR" Key="CLSID\$(var.ShellExtId)\InprocServer32" Action="createAndRemoveOnUninstall">
                    <RegistryValue Type="string" Value="[APPLICATIONFOLDER]EsteidShellExtension.dll"/>
                    <RegistryValue Type="string" Name="ThreadingModel" Value="Apartment" />
                </RegistryKey>
            </Component>

            <Component Id="InstallRegWild" Guid="*">
                <RegistryValue Root="HKCR" Key="*\shellex\ContextMenuHandlers\EsteidShellExtension"
                               Value="$(var.ShellExtId)" Type="string" />
            </Component>

            <Component Id="InstallRegApproved" Guid="*">
                <Condition>Privileged</Condition>
                <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved"
                               Name="$(var.ShellExtId)" Value="Estonian ID Card Shell Extension" Type="string" />
            </Component>
        </DirectoryRef>

        <!-- Install 64 bit shell extension on x64 platform. -->
        <?if $(var.Platform) = "x64" ?>
        <DirectoryRef Id="APPLICATION64FOLDER">
            <Component Id="EsteidShellExtension_64.dll" Guid="*" Win64="yes">
                <File Id="EsteidShellExtension_64.dll" Source="$(env.ARCHIVE)\X64\EsteidShellExtension.dll" Checksum="yes" Vital="yes" />
                <RegistryKey Root="HKCR" Key="CLSID\$(var.ShellExtId)\InprocServer32" Action="createAndRemoveOnUninstall">
                    <RegistryValue Type="string" Value="[#EsteidShellExtension_64.dll]"/>
                    <RegistryValue Type="string" Name="ThreadingModel" Value="Apartment" />
                </RegistryKey>
            </Component>

            <Component Id="InstallRegWild_64" Guid="*" Win64="yes">
                <RegistryValue Root="HKCR" Key="*\shellex\ContextMenuHandlers\EsteidShellExtension"
                               Value="$(var.ShellExtId)" Type="string" />
            </Component>

            <Component Id="InstallRegApproved_64" Guid="*" Win64="yes">
                <Condition>Privileged</Condition>
                <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved"
                               Name="$(var.ShellExtId)" Value="Estonian ID Card Shell Extension" Type="string" />
            </Component>
        </DirectoryRef>
        <?endif ?>

        <!-- Program Menu shortcut -->
        <DirectoryRef Id="EsteidShortcutFolder">
            <Component Id="QdigidocStartMenuShortcut" Guid="a6217e8c-894e-4a88-982b-50a748ee7e28">
                <Condition>STARTMENU_SHORTCUT = 1</Condition>
                <Shortcut Id="QdigidocClientStartMenuShortcut" Advertise="no" Name="!(loc.qdigidocclientLabel)"
                          Target="[#qdigidocclient.exe]" WorkingDirectory="APPLICATIONFOLDER"/>
                <Shortcut Id="QdigidocCryptoStartMenuShortcut" Advertise="no" Name="!(loc.qdigidoccryptoLabel)"
                          Target="[#qdigidocclient.exe]" Arguments="-crypto" Icon="Icon.exe"
                          WorkingDirectory="APPLICATIONFOLDER">
                <Icon Id="Icon.exe" SourceFile="crypto_48x48.ico"/>
                </Shortcut>
                <RegistryValue Root="HKMU" Key="$(var.QdigidocRegistryKey)" Name="StartMenuShortcut" Value="1" Type="integer" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <!-- Desktop shortcut -->
        <DirectoryRef Id="DesktopFolder">
            <Component Id="QdigidocDesktopShortcut" Guid="d983cdc6-c957-4f07-b195-6401702fc55e">
                <Condition>DESKTOP_SHORTCUT = 1</Condition>
                <Shortcut Id="QdigidocClientDesktopShortcut" Advertise="no" Name="!(loc.qdigidocclientLabel)"
                          Target="[#qdigidocclient.exe]" WorkingDirectory="APPLICATIONFOLDER"/>
                <Shortcut Id="QdigidocCryptoDesktopShortcut" Advertise="no" Name="!(loc.qdigidoccryptoLabel)"
                          Target="[#qdigidocclient.exe]" Arguments="-crypto" Icon="Icon.exe"
                          WorkingDirectory="APPLICATIONFOLDER"/>
                <RegistryValue Root="HKMU" Key="$(var.QdigidocRegistryKey)" Name="DesktopShortcut" Value="1" Type="integer" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
